<div id="content_left_big">
<h1 class="welcome">About</h1>
<p>Websites have an impact on the environment. This impact is mostly invisible for the users and web developers. Greenalytics tries to make it visible. It mashups Google Analytics data with environmental impact information to estimate the carbon footprint of a web, including server, infrastructure and the final users.</p>
<p>Greenalytics is an invitation-only beta release. If you are interested in knowing more or being a test user, please send us an email:</p>
<p><a href="mailto:info@greenalytics.org">Info at greenalytics dot org</a></p>
<br/>
<h2>Credits</h2>
<p>Greenalytics is developed by the <a href="http://sustainablecommunications.org" target="_blank">Centre for Sustainable Communications</a> at <a href="http://kth.se"/ target="_blank">KTH</a> Stockholm, Sweden.</p>
<p>Greenalytics is part of the <a href="http://opensustainability.info">Open Sustainability Info</a> initiative.</p>
<p>Concept and development: <a href="http://jorgezapico.com">Jorge Zapico</a></p>
<p>Conversions thanks to <a href="http://carbon.to">carbon.to</a></p>
<p>Programmed using <a href="http://rubyonrails.org/">Ruby on Rails</a>. The <a href="https://github.com/zapico/Greenalytics.org" target="_blank">code</a> is available under Open Source license. </p>
</div>
<div id="content_right_small">
<img src="/images/home.png" alt=""/>

</div>