<div id="content_left">
<h1 class="welcome">About</h1>
<p>Greenalytics is an application developed by the <a href="http://sustainablecommunications.org" target="_blank">Centre for Sustainable Communications</a> at KTH Stockholm.</p>
<p>Measure, compare, compete, get help, and reduce your website carbon impact.</p>

<p>Greenalytics is still in closed alpha development stage. If you are interested in knowing more or being a test user, please send us an email:</p>

<p><a href="mailto:info@greenalytics.org">Info at greenalytics dot org</a></p>
<p>Concept and development: <a href="http://jorgezapico.com">Jorge Zapico</a></p>
<p>Thanks for the help with data: &Aring;sa Moberg. Thanks to all the people at the Centre</p>
</div>
<div id="content_left">
</div>