<h2>Results</h2>
<p>Greenalytics analyze the carbon footprint of a website using the data provided by Google Analytics. It provides an approximation in Kg CO2 per month and in grams CO2 per visitor. The impact includes the electricity consumption of the server and infrastructure and the electricity use by the users checking the site.</p>
<img src="/images/ex01.png" border='0' alt="example"/>
<h2>Server details</h2>
<p>The server side is calculated using the traffic of the site and the country where the server is located.</p>
<img src="/images/ex02.png" border='0' alt="example"/>
<h2>Users details</h2>
<p>The user impact is calculated using the time they spent at the site and the country they visited from.</p>
<img src="/images/ex03.png" border='0' alt="example"/>
<br/>
<p>More info about the <a href="/data">data.</a></p>
<p>Contact at: <a href="mailto:info@greenalytics.org">Info at greenalytics dot org</a></p>