<div id="column_one">
<h1 class="welcome">Unveiling the carbon footprint of the web</h1>
<img src="/images/home.png" alt="co2">
<br/><br/>
<h3>Websites have an impact on the environment. This impact is mostly invisible for users and web developers.</h3>
<h3>Greenalytics tries to make it visible. By matching data from Google Analytics and environmental research it estimates the carbon footprint of websites, including server, infrastructure and final user.</h3>
</div>

<div id="column_two">

<h1>Featured site<br/><verde>www.kth.se</verde></h1>

<p>This site emitted <%= formatco2(@total_co2) %> the last 12 months</p>
<%= image_tag @grafico, :alt => 'foo' %><br>
<br/>
<h2><%= link_to "More details", :controller => "sites", :action => "show", :id => 32 %></h2>
<br/>
<p>Greenalytics is currently an invitation-only beta. If you want to register your site contact us at:</p>
<p><a href="mailto:info@greenalytics.org">Info at greenalytics dot org</a></p>
</div>



<div id="column_three">
<div id="twitter_div">
<h1 style="display:block;text-align:center;background:none;">News</h1>
<ul id="twitter_update_list"></ul>


<script type="text/javascript" src="http://twitter.com/javascripts/blogger.js"></script>
<script type="text/javascript" src="http://twitter.com/statuses/user_timeline/greenalytics.json?callback=twitterCallback2&amp;count=5"></script>
</div>
<div class="column_centered">
	<p>For more news follow our <a href="http://twitter.com/greenalytics" target="_blank">Twitter</a> account!</p>
</div>
</div>






