<div id="content_left">
<h1>Welcome to Greenalytics</h1>
<p><%= current_user.email %>: Your google analytics account is now connected!</p>
<p>Let's start by exploring <a href="/sites/select">your sites</a>.</p> 
</div>

<div id="content_right">
</div>
