<h1><b>Visitors</b></h1>
<p><i>The impact from the electricity used by the visitors.</i></p>
<h2>Visitors: </h2>
<p><%= @visitors_text %></p>
<h2>Total: </h2>
<h3><%= @time %> minutes</h3>
<h3><%= @co2_visitors.round(2) %> kg CO2</h3>