<h1 class="name"><%= @address%></h1>
<% javascript_tag do %>
    <%= remote_function(
	:url => { :action => "calculate_total", :site_id => params[:site_id], :address => @address },
	:loading  => "Element.show('search-indicator'); Element.hide('calculate')",
	:complete => "Element.hide('search-indicator'); Element.hide('text'); Element.show('calculate')",
	:update => "calculate") %>
<% end %>
<div id="text">
	<p>Calculating the impact can take a while, please wait while we crunch the data!</p>
	<p>What are we calculating?</p>
	<h1><b>Server and infrastructure</b></h1>
	<p><i>Carbon impact from the electricity of the server and internet infrastructure.</i></p>
	<h1><b>Visitors</b></h1>
	<p><i>The impact from the electricity used by the visitors.</i></p>
</div>	
	<%= image_tag("indicator.gif",
	:id => 'search-indicator',
	:style => 'display:none') %>

<div id="calculate">
	<%= render(:partial => 'calculate')%>		
</div>
