<div id="content_top">
<h1>Loading...</h1>
<p>Calculating the impact can take a while, please wait while we crunch the data!</p>
<p>What are we calculating?</p>
<h1><b>Server and infrastructure</b></h1>
<p><i>Carbon impact from the electricity of the server and internet infrastructure.</i></p>
<h1><b>Visitors</b></h1>
<p><i>The impact from the electricity used by the visitors.</i></p>
</div>