<div id="content_left">
<h1>Calculating</h1>
<p>The calculations in Greenalytics are very data intensive and are done on the background several times a day. If you are seeing this site is probably that we have not gotten to your site yet, please wait and check it out later!</p>
<p><a href='/users/show'>Back to my account. </a></p>
</div>