<div id="content_left">
<h1>Login</h1>
<p>For using Greenalytics you need a Google login connected to a <%= link_to "Google Analytics", "http://google.com/analytics" %> account. If it doesn't work please confirm your using the email account that is connected to your Google Analytics.</p>
<br/>
<h2><%=link_to "Connect to your Google Analytics", @authsub_link %></h2>
</div>

<div id="content_right">
</div>



