<div id="content_left">
<h1>Select the site to analyze</h1>
<% @feed.elements.each('entry') do |entry| %>
	<p><%= link_to entry.elements["title"].text, :action => 'test', :site_id => entry.elements["dxp:property name=ga:accountId"].attribute("value").value %></p>
<% end%>

</div>

<div id="content_right">
</div>