<div id="content_left">
<h1>Admin sites</h1>
<h2>A. Add sites</h2>
<% nonew = true %>
<% @feed.elements.each('entry') do |entry| %>
	<% if !current_user.sites.find(:first, :conditions => { :gid => entry.elements["dxp:tableId"].text}) %>
		<p><%= link_to entry.elements["title"].text, :action => 'new_site', :gid => entry.elements["dxp:tableId"].text, :name => entry.elements["title"].text %></p>
		<% nonew = false %>
	<% end %>
<% end%>
<% if nonew %>
	<p>There are no new sites to add from your google analytics account.</p>
<% end %>
<br/>
<h2>B. Remove sites</h2>
<% current_user.sites.each do |si| %>
	<p><%= si.name %>
	<%= link_to "Remove this site", :controller => "sites", :action => "destroy", :id => si.id, :confirm => "Are you sure?" %></p>
<% end %>
</div>
<div id="content_right_sites">
<p><i>The calculations in Greenalytics are very data intensive, therefore they are processed in the background. <br/><br/>When  adding your sites, expect some delay until you can get the first results, this time will depend on how much traffic your site has. <br/><br/>Once the first calculations are made, they are updated automatically every day.</i></p>
</div>
