<!DOCTYPE html>
<html>
<head>
	<link href= "/stylesheets/application.css" rel="stylesheet" type="text/css"/>
    <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
<meta name="google-site-verification" content="4xi7fXpdQKfsbgIlbVNLDexJX5BCGHxneQR9lTpOnqE" />
<meta name="google-site-verification" content="00VHJgtTO_sZKMWbdXT_SVSxQ_qAMIGbhgejrixo9Aw" />
    <title>Greenalytics.org</title>
    <%= javascript_include_tag "prototype" %>
</head>
<body>
<div id="wrapper">
	<div id="header">
		<a href="http://greenalytics.org"><img src="/images/logo.png" border='0' alt="greenalytics"/></a>
		<div id="menu-wrapper">
			<ul id="main-menu">
				<% if logged_in?() %>
				<li><a href="http://greenalytics.org/my_sites">My Sites</a></li>   
			     <%else%>
				<li><a href="http://greenalytics.org/sites">Sites</a></li>
			   <%end%>
				<li><a href="http://greenalytics.org/about">About</a></li>
				<li><a href="http://greenalytics.org/data">Data</a></li>
			</ul>
			<ul id="login-menu">
				<% if logged_in?() %>
				<li><a href="http://greenalytics.org/sessions/destroy">Logout</a></li> 
				 <%else%>
				 <li><a href="http://greenalytics.org/sessions/new">Login</a></li>
				 <li><a href="http://greenalytics.org/users/new">Register</a></li>
				 <%end%>
			</ul>
		</div>
	</div>
	
	<div id="content">
	<%= yield  %>
	<br/><br/>
	</div>
	
	
	
	<div id="footer">
		<div class="footer-list">
				<h4>Menu</h4>
				<ul>
				<li><a href="/" >Home</a></li>
				<li><a href="/about" >About</a></li>
				<li><a href="/data" >Data</a></li>	
				<li><a href="/sites">Public Sites</a></li>				
			    </ul>
			</div>
		<div class="footer-list">
				<h4>More information</h4>
				<ul>
				<li><a href="mailto:info@greenalytics.org" target="_blank">Email us</a></li>
				<li><a href="http://twitter.com/greenalytics" target="_blank">Twitter</a></li>		
				<li><a href="https://github.com/zapico/Greenalytics.org" target="_blank">Source code</a></li>				
			    </ul>
		</div>
		<div class="footer-list">
			<h4></h4>
		</div>
		<div class="footer-list">
				<ul>
				<li><p>Greenalytics is an application developed by the <a href="http://sustainablecommunications.org" target="_blank">Centre for Sustainable Communications</a> at <a href="http://kth.se/" target="_blank">KTH Royal Institute of Technology</a>, Stockholm.</p></li>				
			    </ul>
		</div>
		<div class="footer-list">
				<a href="http://kth.se/" target="_blank"><img src="/images/kth_logo.png" border="0" alt="KTH"/></a>
		</div>
		</div>
		
</div>
<script type="text/javascript" charset="utf-8">
  var is_ssl = ("https:" == document.location.protocol);
  var asset_host = is_ssl ? "https://s3.amazonaws.com/getsatisfaction.com/" : "http://s3.amazonaws.com/getsatisfaction.com/";
  document.write(unescape("%3Cscript src='" + asset_host + "javascripts/feedback-v2.js' type='text/javascript'%3E%3C/script%3E"));
</script>

<script type="text/javascript" charset="utf-8">
  var feedback_widget_options = {};

  feedback_widget_options.display = "overlay";  
  feedback_widget_options.company = "greenalytics";
  feedback_widget_options.placement = "left";
  feedback_widget_options.color = "#222";
  feedback_widget_options.style = "idea";
   
   var feedback_widget = new GSFN.feedback_widget(feedback_widget_options);
</script>
<script type="text/javascript">
var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
try {
var pageTracker = _gat._getTracker("UA-1465382-21");
pageTracker._trackPageview();
} catch(err) {}</script>
</body>
</html>
